/* This is an EXAMPLE of a checkpoint, your implementation and design may be different */

html {
    text-align: center;
}

h1, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

#list {
    color:green;
}

.task {
    margin: 15px;
}