<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Checkpoint 1 Example</title>
        <link rel="stylesheet" href="check1.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1 class="heading">Checkpoint 1 Example</h1>
        <div id="app">
            <ul>
                <li v-for="todo in todoList" v-bind:key="todo.id">
                    {{todo.txt}}
                </li>
            </ul>
            <input v-model="inputText"></input>
            <button v-on:click="addTodo">Add todo</button>
        </div>
        <script src="check1.js" ></script>
    </body>
</html>
